@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
}

@layer components {
    
    body {
        @apply bg-gray-900
    }

    .dropdown {
        min-width: 8rem;

        @apply bg-gray-700 text-base z-50 float-left list-none text-left rounded-lg shadow-lg;
    }

    .dropdown-link {
        @apply bg-gray-800 rounded-lg text-sm py-2 px-4 font-medium block whitespace-nowrap m-2
            text-gray-200 hover:text-blue-400 cursor-pointer select-none;
    }

    .dropdown-icon {
        @apply text-green-300;
    }

    .dropdown-text {
        @apply ml-1 select-none;
    }

    .placeholder-capital::placeholder {
        text-transform: capitalize;
    }

    .text-input {
        box-shadow: none !important;

        @apply rounded-lg border-none focus:outline-thickblue 
            outline-zerowidth transition-outlinewidth duration-200 bg-gray-900
            text-gray-200;
    }

    .text-input:invalid:focus {
        @apply outline-thickred;
    }

    .card {
        @apply bg-gray-800 rounded-lg shadow-lg p-5;
    }

    .app-holder {
        height: calc(100vh - 5rem);
    }

    .modal {
      transition: opacity 0.25s ease;

      @apply fixed w-full h-full top-0 left-0 flex items-center justify-center;
    }

    .modal-active {
      overflow-x: hidden;
      overflow-y: visible !important;
    }

    \\ perfect scrollbar smooth scrolling

    .ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
        transition: .2s linear left;
    }

    .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
        transition: .2s linear top;
    }

}